<section class="about" id="about">

    <h1 class="heading">about <span> us</span>  </h1>

    <div class="row">

        <div class="image">
            <img src="assets/lifeline.jpg" alt="">
            
        </div>

        <div class="content">
            <h3>Superior Healthcare Delivery for Hospitals and Clinics</h3>
            <p>LifeLine is a game-changing hospital management system (HMS) that is the brainchild of MentisSoft Solutions, a product-based company with a proven track record in the healthcare industry.

                Utilizing more than two decades worth of domain expertise, MentisSoft experts work to create products that leverage workflow automation and module integration. The result is a powerful tool that empowers healthcare personnel with critical information when they require it, enabling quick action.
                
                By removing the bottlenecks associated with manual processes, LifeLine’ comprehensive HMS boosts productivity, 
                freeing up valuable time for medical practitioners, and providing them with crucial tools to be able to focus on what is truly important: better patient care.
                
                At MentisSoft, we are passionate about using our technical expertise to simplify and integrate the complex modules of hospital management, creating sustainable solutions that transform the way hospitals run their operations. </p>
                
        
        </div>

        <h4>Our Mission and Vision</h4>
        <p>
            We Believe In Continuous Improvement: Our Team Works Closely With Healthcare Leaders To Understand The Entire Process Flow In A Hospital, From Clinical Areas To Support Functions, Finance, Supply Chain, Administrative And Billing Functions – To Evolve A World-Class Product That Is Secure, Scalable And Productivity-Enhancing. We Facilitate Quick Integrations With Existing PACS, Lab/Medical Equipment, Drug Databases And Payer Connections So That Hospital Systems Function At Peak Efficiency.
        </p>
    </div>

</section>


 